<h1>CONGRATULATIONS!</h1>
<p>It seems that you're logged in. That means everything went correctly and you achieved new skill!</p>
<p>You deserved a little surprise, so here it is. Enjoy!</p>
<img src="https://cdn.pixabay.com/photo/2019/10/27/11/25/sexy-4581497_1280.jpg" alt="secret">