<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends list</title>
    <link rel="stylesheet" href="/app.js">
</head>
<body>
    <h1>List of my friends: </h1>
    
